{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block links %}
{% endblock %}

{% block content %}
    <div class="container">
      <h2>Brief</h2>
      <p>
        We would like to take this opportunity to thank you for your kind consideration and
        interest in our company. We at Outcloud Digital Marketing would like to extend a warm
        welcome to you. We are committed to providing Excellency and superior professionalism
        to our clients and customers.
      </p>

      <p>
        Please be inform that our staff and crew members are happy and are willing to go
        out of their way to help you in any way possible. We would love to thank you once
        again for taking your time to look into what we do and offer. If you do have any
        kind of queries, please do not hesitate to contact us on any one of the links below
      </p>

      <p>
        Thank you
      </p>
    </div>

    <div class="container">
      <h2>BUISNESS INFORMATION</h2>
        <p>BUSINESS NAME Outcloud Marketing</p>

        <p>Phone/ Whatsapp +27 61 243 8804</p>

        <p>Facebook outcloudoutcloud</p>

        <p>Instagram _Outcloud</p>

        <p>Email outclouddigitalmarketing@gmail.com</p>

        <p>Outlook outclouddigitalmarketing@outlook.com</p>

        <p>Address 120 End str Doornfontein 1125 Johannesburg ( South Africa)</p>
    </div>

{% endblock content %}