{% extends "base.html" %}

{% block title %}Research Guide{% endblock %}

{% block links %}
{% endblock %}

{% block content %}

    <h1>Contents</h1>
    <div class="container">
      <ul>
        <li><a href="#r-guide">Research Guide</a> </li>
        <li><a href="#research-steps">Research Guide Steps</a> </li>
          <ul>
            <li><a href="#s1">Step 1</a></li>
            <li><a href="#s2">Step 2</a></li>
            <li><a href="#s3">Step 3</a></li>
        </ul>
        <li><a href="#conclusion">Conclusion</a> </li>
      </ul>
    </div>

    <div id="r-guide" class="container">
      <h2>Research Guide</h2>
      <p>OTC Research guide will help one provide targeted information on a
      particular topic to support OTC team as we carry out any research.</p>
      <p>The research that the OTC team will carry out will help our potential
      clients have a better idea of the kind of industry they are in and how
      exactly Outcloud Marketing can assist their business in the marketing
      department.</p>
      <p>This research guide is suitable for both beginning and already
      astablished businesses.</p>
    </div>

    <div id="research-steps" class="container">
      <h2>Research Guide Steps</h2>
      <p>OTC Research guide steps are steps that are going to assist our OTC
      team member as they conduct their research.</p>

      <div id="s1" class="step">
        <h3>STEP 1: Starting the business</h3>
        <p>As for step 1 you need to go online and get more information on how
        one needs to start their business depending on which kind of business
        you researching on.</p>
        <p>This research will benefit businesses in their early stages of operating,
        because the business owner will have a better idea of what kind of
        industry he/she plans on joining as well as the requirements that need to
        be met.</p>
        <p>As for businesses that have being operating, they can look at this as a
        guide to help them see if they began operating on the rightful foundation</p>
        <h4>What to do:</h4>
        <p>You need to google on a search engine, "How to start a (name of the kind of
        business) business?"</p>
        <span>eg. How to start a constructure business?</span>
      </div>

      <div id="s2" class="step">
        <h3>STEP 2: How the business can make sales?</h3>
        <p>As for step 2 this is going to help set a clear map on how exactly any kind
        of business can make sales and find a way that will help any business find
        the rightful audience.</p>
        <p>At this point of research you are just finding the best methods on how the
        business can get clients.</p>
        <p>And as you collecting this data, you need to also research on how Digital
        marketing agencies can help the business.</p>
        <h4>What to do:</h4>
        <ol>
          <li>You need to google on a search engine, "How can a (name of the kind of
          business) business get clients?"<br />
          <span>eg. How can i get constructure business clients?</span></li>
          <li>You need to google on a search engine, "How digital marketing agency
          can help a (name of the kind of business) business?"<br />
          <span>eg. How can a digital marketing agency help a constructure business?</span></li>
        </ol>
      </div>

      <div id="s3" class="step">
        <h3>STEP 3: How will Outcloud Marketing help you?</h3>
        <p>This is the last step of this research guide and in this step we will share
        more on how Outcloud marketing can help any business in their marketing
        department and why they must choose us as their digital marketing agency.</p>
        <h4>What to do:</h4>
        <p>In this section you will use information from step 2 on how digital
        marketing agencies can help any business and also use Outcloud marketing
        documents (business profile and Services & Prices) to also help you as you
        conclude on how Outcloud marketing will be of great assistance.</p>
      </div>
    </div>

    <div id="conclusion" class="container">
      <h2>Conclusion</h2>
      <p>Once the research is done , the research has to be presented to the
        graphic designer in the OTC team so the research can be properly laid on a
        document, well designed and once everything that's necessary is done
        including proof reading, the document will be presented to the client.</p>
    </div>
{% endblock content %}
<!--
Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
-->
