{% extends "base.html" %}

{% block title %}OTC Packages{% endblock %}

{% block links %}
{% endblock %}

{% block content %}

    <h1>Content</h1>
    <div class="container contents">
    	<ul>
    		<li>Our Price List</li>
    		<li>Our Service Packages</li>
    	</ul>
    </div>

  	<h1>OUR PRICE LIST</h1>
    <div class="container">
    	<h2>Graphic design</h2>
    	<ul>
    		<li>Logo design... R380.00</li>
    		<li>Business card design... R280.00</li>
    		<li>Flyer design ...R350.00</li>
    		<li>Poster design ...R350.00</li>
    		<li>Animated Poster design ...R380.00</li>
    		<li>Banner design ...R450.00</li>
    		<li>Brochure design ...R70.00 per page</li>
    		<li>Business plan design ...R480.00</li>
    		<li>Business profile design ...R380.00</li>
    		<li>Business proposal design ...R350.00</li>
    		<span class="note">(PLEASE NOTE For the above services we do not print but we refer to where you can that service)</span>
    	</ul>
    	<h2>Website design and development</h2>
    	<ul>
    		<li>Basic “3-5 pages”... R1500.00-R1900.00
    			<br/>Maintenance... R125.00 per month</li>
    		<li>Standard “5-8 pages”... R2300.00-R3880.00
    			<br/>Maintenance... R210.00.00 per month</li>
    		<li>Pro “5- 15 pages” ...R5700.00-R7600.00
    			<br/>Maintenance ...R620.00 per month</li>
    		<li>SEO from ...R420.00 per month</li>
    	</ul>
    </div>

	<h1>OUR SERVICE
	PACKAGES</h1>
	<p>In this section you learn about the marketing
	packages we as Outcloud can service to any
	individual or business</p>
    <div class="container">
		<h2>Baby Package</h2>
		<p>This package contract is from 3-6 months</p>
		<span class="statement">"client chooses the length of the contract"</span>
		<p><b>Monthly fee</b> ...R1100.00</p>

		<h3>Services provided:</h3>
		<ul>
			<li>Marketing Management</li>
			<li>Social Media Marketing</li>
			<ul>
				<li>" 1 platform (Facebook/Instagram)"</li>
				<li>Content Marketing/Publishing</li>
				<li>Run Ads, budget...R180.00</li>
			</ul>
			<li>Graphic Design</li>
			<ul>
				<li>Content Creation</li>
			</ul>
		</ul>
		<h3>Products (per month)</h3>
		<ul>
			<li>80-145 Social Media Leads</li>
			<li>Content creation (10 engaging content)</li>
			<li>Content publishing</li>
			<li>Ads campaign...R180.00</li>
		</ul>
    </div>


    <div class="container">
    	<h2>Basic Package</h2>
		<p>This package contract is from 6-10 months</p>
		<span class="statement">"client chooses the length of the contract"</span>
		<p><b>Monthly fee</b> ...R2580.00</p>
		
		<h3>Services provided:</h3>
		<ul>
			<li>Marketing Management</li>
			<li>Social Media Marketing</li>
			<ul>
				<li>" 1 platform (Facebook/Instagram)"</li>
				<li>Content Marketing/Publishing</li>
				<li>Run Ads, budget...R400.00</li>
			</ul>
			<li>Graphic Design</li>
			<ul>
				<li>Content Creation</li>
			</ul>
		</ul>
			
		<h3>Products (per month)</h3>
		<ul>
			<li>187-339 Social Media Leads</li>
			<li>Content creation (18 engaging content)</li>
			<li>Content publishing</li>
			<li>Ads campaign...R400.00</li>
		</ul>
    </div>


    <div class="container">
    	<h2>Standard Package</h2>
		<p>This package contract is from 8-12 months</p>
		<span class="statement">"client chooses the length of the contract"</span>
		<p><b>Monthly fee</b> ...R5580.00</p>
		
		<h3>Services provided:</h3>
		<ul>
			<li>Marketing Management</li>
			<li>Social Media Marketing</li>
			<ul>
				<li>"2 platform (Facebook/Instagram)"</li>
				<li>Content Marketing/Publishing</li>
				<li>Video Creation</li>
				<li>Email marketing(Email leads)</li>
				<li>Run Ads, budget...R845.00</li>
			</ul>
			<li>Graphic Design</li>
			<ul>
				<li>Content Creation</li>
			</ul>
		</ul>
			
		<h3>Products (per month)</h3>
		<ul>
			<li>380-545 Social Media Leads</li>
			<li>180-255 Email leads</li>
			<li>Content creation (24 engaging content)</li>
			<li>Content publishing</li>
			<li>Ads campaign...R845.00</li>
		</ul>
    </div>

    <div class="container">
    	<h2>Pro Package</h2>
		<p>This package contract is from 3-12 months</p>
		<span class="statement">"client chooses the length of the contract"</span>
		<p><b>Monthly fee</b> ...R10 580.00</p>
		
		<h3>Services provided:</h3>
		<ul>
			<li>Marketing Management</li>
			<li>Social Media Marketing</li>
			<ul>
				<li>"3 platforms<span class="statement">Client choses suitable platforms</span> 
					<br/>(Facebook/Instagram/Twitter/Youtube)"</li>
				<li>Content Marketing/Publishing</li>
				<li>Video Creation</li>
				<li>Basic Website</li>
				<li>Email marketing(Email leads)</li>
				<li>Run Ads, budget...R1700.00</li>
			</ul>
			<li>Graphic Design</li>
			<ul>
				<li>Content Creation</li>
			</ul>
		</ul>
			
		<h3>Products (per month)</h3>
		<ul>
			<li>680-1345 Social Media Leads</li>
			<li>645-720 Email leads</li>
			<li>Content creation (30 engaging content)</li>
			<li>Content publishing</li>
			<li>Ads campaign...R1700.00</li>
		</ul>
    </div>
{% endblock content %}